.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.carousel {
    position: relative;
    /* yoinks */
    height: 315px;
    width: 560px;
    margin: 0 auto;
}

.carousel-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel-btn--left {
    left: -2.5em;
}

.carousel-btn--right {
    right: -2.5em;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background:rgba(0, 0, 0, .25);
    margin: 0 .5em;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: rgba(0, 0, 0, .65);
}

.is-hidden {
    display: none;
}

@media only screen and (max-width: 800px) {
    .carousel {
        /* yoinks */
        height: calc(315px/2);
        width: calc(560px/2);
    }

    .carousel-nav {
        display: none;
    }
}