.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    /* grid-row-gap: 3em; */
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    padding: 3em;
}

.wrapper > div {
    background: #ddd;
    padding: 5em;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    padding: 3em;
}

.wrap > div {
    background: #ddd;
    padding: 5em;
}