.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column-gap: 1em; */
    /* grid-row-gap: 3em; */
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    padding: 0 3em;
    height: 100vh;
}

.wrapper > div,
.wrap > div {
    padding: 5em;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-row-gap: 3em; */
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    padding: 0 3em;
    /* height: 100vh; */
}

@media only screen and (max-width: 800px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 3em;
    }

    .wrapper > div,
    .wrap > div {
        padding: 0;
        display: block;
    }

    #landing {
        height: 100vh;
        padding: 4em 0;
    }

    #landing > #title {
        order: 2;
        vertical-align: top;
        padding: 0 0 10vh 0;
    }

    #landing > #graphic {
        order: 1;
    }

    #photo > img {
        max-width: 70vw;
        display: none;
    }

    #about {
        display: block;
    }

    #projects {
        margin: 0 0 20vh 0;
    }

    #films > #playlist {
        order: 2;
    }

    #films > #storytelling {
        order: 1;
        padding: 0 0 3em 0;
    }
}